bin
obj
Properties
.vscode
bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Abstractions.dll
bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.dll
bin/Debug/netcoreapp3.1/Microsoft.Extensions.DependencyInjection.dll
bin/Debug/netcoreapp3.1/testeef.deps.json
bin/Debug/netcoreapp3.1/testeef.dll
bin/Debug/netcoreapp3.1/testeef.pdb
obj/project.assets.json
obj/project.nuget.cache
obj/testeef.csproj.nuget.dgspec.json
obj/testeef.csproj.nuget.g.props
obj/Debug/netcoreapp3.1/testeef.assets.cache
obj/Debug/netcoreapp3.1/testeef.csproj.CoreCompileInputs.cache
obj/Debug/netcoreapp3.1/testeef.csproj.FileListAbsolute.txt
obj/Debug/netcoreapp3.1/testeef.csprojAssemblyReference.cache
obj/Debug/netcoreapp3.1/testeef.dll
obj/Debug/netcoreapp3.1/testeef.pdb
